* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

img {
    width: 100%;
    height: auto;
}

h1,
h2,
p {
    margin: 0.5em 0;
    color: rgb(255, 255, 255);
    text-align: center;
}

#app main {
    padding: 0 1em;
}

#app header {
    position: sticky;
    background: orange;
    top: 0;
    left: 0;
    padding: 1em;
    box-shadow: -1px 2px 5px 0px rgba(83, 83, 83, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#app header img {
    max-width: 100px;
}
/* Dropdown Button */
.dropbtn {
    float: left;
    background-image: none;
    background-color: rgb(247, 148, 1);
    color: rgb(62, 165, 190);
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: left;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: rgb(247, 148, 1);
}


@media screen and (min-width: 768px) {
    .container {
        width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }
}